<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="container text-center">
        <%= image_tag "To Do Coach glasses (1).png", class: "avatar text-center", id: "pop-up-avatar" %>
      </div>

      <div class="text-center">
        <h1 class="message-slogan text-center fw-bolder">You earned a new badge!</h1>
        <span> Congratulations on achieving: </span>
        <p><%= @latest_achievement.achievement.name %> 🎉 </p>
        <p><%= @latest_achievement.achievement.description %> 🎉 </p>
      </div>

      <div class="reminder-container mt-4 position-relative">
        <p>On to the next one!</p>
      </div>

      <div class="upcomming-task">
        <%= render 'task_card', task: @remaining_task , index: 0 %>
        <%= link_to new_task_path do%>
          <button class="btn-message btn btn-reminder">Let's Add a New Task</button>
        <% end %>
      </div>

    </div>
  </div>
</div>
