
<div class='card task-card d-flex flex-row'>
    <div class='m-3 d-flex align-items-center'>
      <i class="fa-solid fa-briefcase"></i>
    </div>

  <div class='task-info'>
    <div data-controller="edit-task">
      <div class='d-flex flex-row'>
        <div class='m-3'>

          <p data-edit-task-target="info">
            <%= link_to task_path(task) do %>
              <%= task.title %>
            <% end %>
          </p>

           <%# <%= simple_form_for task, html: {
              class: "d-none", data: {
                edit_task_target: "form" }} do |f| %>
                <%# <%= f.input :title %>
                <%# <%= f.submit "Update task", class: "btn btn-sm btn-primary" %>
              <%# <% end %>

          <p>
            <% if task.due_date.hour < 12 %>
              <%= task.due_date.strftime("%H:%M") %>
              am
            <% else %>
              <%= (task.due_date - (12*60*60)).strftime("%H:%M") %>
              pm
            <% end %>
          </p>
        </div>

        <div class='m-3'>
          <% if task.priority == 1 %>
            <p class='high-priority-color'><i class='fa-solid fa-circle'></i></p>
          <% elsif task.priority == 2 %>
            <p class='medium-priority-color'><i class='fa-solid fa-circle'></i></p>
          <% else %>
            <p class='low-priority-color'><i class='fa-solid fa-circle'></i></p>
          <% end %>
          <p>
            <% if task.completed %>
              <%= link_to toggle_completed_task_path(task), data: {turbo_method: :patch} do %>
                <i class='fa-regular fa-circle-check'></i>
              <% end %>
            <% else %>
              <%= link_to toggle_completed_task_path(task), data: {turbo_method: :patch} do %>
                <i class='fa-regular fa-circle'></i>
              <% end %>
            <% end %>
          </p>
        </div>

      </div>

      <p style='margin-left: 16px'>
        <% if task.description.split('').length > 30 %>
          <%= task.description.split.first(4).join(' ') %> ...
        <% else %>
          <%= task.description %>
        <% end %>
      </p>
    </div>

     <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update <%= task.title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
       <%= simple_form_for task do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :due_date, as: :datetime, html5: true %>
        <%= f.submit "Save changes", class:"btn btn-primary rounded" %>
       <% end %>
      </div>

          <%# <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary rounded">Save changes</button>
          </div> %>
        </div>
      </div>
    </div>
  </div>

  <%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> %>
    <i class="fa-solid fa-pen" style="color: #242474;"
            data-action="click->edit-task#displayForm"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"></i>
  <%# </button> %>

</div>
