<div
  class="swipeable"
  data-controller="edit-task">
  <div class='inner card task-card d-flex'
       data-edit-task-target="inner"
       data-edit-task-id="<%= task.id %>">

    <%# icons %>
    <div class="my-2">
      <% one_of_three_standard_categories_asigned = false %>
      <% if task.categories.exists?(name: 'work') %>
        <i class="fa-solid fa-briefcase fa-2xl me-3 <%= task.priority %>-priority-color"></i>
        <% one_of_three_standard_categories_asigned = true %>
      <% end %>
      <% if task.categories.exists?(name: 'groceries') %>
        <i class="fa-solid fa-basket-shopping fa-2xl me-3 <%= task.priority %>-priority-color"></i>
        <% one_of_three_standard_categories_asigned = true %>
      <% end %>
      <% if task.categories.exists?(name: 'personal') %>
        <i class="fa-solid fa-user fa-2xl me-3 <%= task.priority %>-priority-color"></i>
        <% one_of_three_standard_categories_asigned = true %>
      <% end %>
      <% if !one_of_three_standard_categories_asigned %>
        <i class="fa-solid fa-ghost fa-2xl <%= task.priority %>-priority-color"></i>
      <% end %>
    </div>

    <hr>

    <%# Task info  %>
    <div>
      <p class="task-title pt-2" data-edit-task-target="info">
        <%= link_to task_path(task) do %>
          <%= task.title %>
        <% end %>
      </p>
    </div>

    <div class="d-flex justify-content-between">
      <% if task.due_date != nil %>
      <p class="due-date mb-0 opacity-75">
        <%= task.due_date.strftime('%a, %d %B, %I:%M %p') %>
      </p>
      <% end %>
      <p class="mb-0 d-flex justify-content-end"><%= render 'toggle_completed', task: task %></p>
    </div>

  </div>

  <div class="position-absolute d-flex actions-container">
    <div class="flex-child action-button-delete delete" data-action="click->edit-task#deleteTask">
      <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa fa-trash fa-lg" style="color: #e3e3e8;" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="flex-child action-button-edit"
         data-edit-task-target="modal">
      <i class="fa-solid fa-pen fa-lg"
         style="color: #e3e3e8;"
         aria-hidden="true"
         data-action="click->edit-task#displayForm"></i>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update <%= task.title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="container modal-body">
        <div class="row">
          <div class="col-10">
            <%= simple_form_for task do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :due_date, as: :datetime, html5: true %>
              <%= f.submit "Save changes", class:"btn btn-primary rounded" %>
              <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
