<div
  class="swipeable"
  data-controller="edit-task">
  <div class='inner card task-card d-flex'
      data-edit-task-target="inner"
      data-edit-task-id="<%= task.id %>">

            <%# icons %>
              <div class="mb-2">
                <% if @tasks_category_names[index].include?("Work") %>
                  <i class="fa-solid fa-briefcase fa-xl <%= task.priority %>-priority-color"></i>
                <% elsif @tasks_category_names[index].include?("Groceries") %>
                  <i class="fa-solid fa-basket-shopping fa-xl <%= task.priority %>-priority-color"></i>
                <% elsif @tasks_category_names[index].include?("Personal") %>
                  <i class="fa-solid fa-user fa-xl <%= task.priority %>-priority-color"></i>
                <% else %>
                  <i class="fa-solid fa-ghost"></i>
                <% end %>
              </div>

                <%# Task info  %>
              <div>
                <p class="task-title" data-edit-task-target="info">
                  <%= link_to task_path(task) do %>
                    <%= task.title %>
                  <% end %>
                </p>
                <% if task.due_date != nil %>
                  <p class="due-date">
                    <% if task.due_date.hour < 12 %>
                      <%= task.due_date.strftime("%H:%M") %>
                      AM
                    <% else %>
                      <%= (task.due_date - (12*60*60)).strftime("%H:%M") %>
                      PM
                    <% end %>
                  </p>
                <% end %>
                <p>
                  <% if task.description.split('').length > 30 %>
                    <%= task.description.split.first(4).join(' ') %> ...
                  <% else %>
                    <%= task.description %>
                  <% end %>
                </p>
              </div>

              <div class='align-self-end'>
                <p><%= render 'toggle_completed', task: task %></p>
              </div>

  </div>

  <div class="position-absolute d-flex actions-container">
    <div class="flex-child action-button-delete delete" data-action="click->edit-task#deleteTask">
          <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa fa-trash fa-lg" style="color: #e3e3e8;" aria-hidden="true"></i>
              <% end %>
    </div>
    <div class="flex-child action-button-edit"
         data-edit-task-target="modal">
        <i class="fa-solid fa-pen fa-lg"
           style="color: #e3e3e8;"
           aria-hidden="true"
           data-action="click->edit-task#displayForm"></i>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Update <%= task.title %></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="container modal-body">
            <div class="row">
              <div class="col-10">
                <%= simple_form_for task do |f| %>
                  <%= f.input :title %>
                  <%= f.input :description %>
                  <%= f.input :due_date, as: :datetime, html5: true %>
                  <%= f.submit "Save changes", class:"btn btn-primary rounded" %>
                  <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
</div>
