
      <div><p><strong>EDIT TASK</p></strong>

      <%= simple_form_for(@task) do |f| %>
        <%= f.input :title, input_html: { class: 'input-field'} %>
        <%= f.input :description, input_html: { class: 'input-field'} %>
        <%= f.input :priority, input_html: { class: 'input-field'}%>
        <%= f.input :due_date, as: :datetime, html5: true, input_html: { class: 'input-field'}%>
        <%# f.input :photo, as: :file, required: true %>
        <div class='d-flex justify-content-center'>
          <%= f.submit 'Update Task', class:'btn btn-primary btn-save d-flex justify-content-center' %>
      <% end %>
      </div>
