
<div class="row">
    <div class="col-12 col-md-6">
      <div class="bg-white rounded p-3"><p><strong>EDIT TASK</p></strong>

      <%= simple_form_for(@task) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :priority %>
        <%= f.input :due_date, as: :datetime, html5: true %>
        <%= f.input :reminder_date, as: :datetime, html5: true %>
        <%= f.input :photo, as: :file,
                    required: true %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
