<%= simple_form_for(@task) do |f| %>
  <%= f.input :title, input_html: { class: 'input-field' } %>
  <%= f.input :description, input_html: { class: 'input-field' } %>
  <%= f.input :completed, input_html: { class: 'input-field' } %>
  <%= f.input :priority, collection: Task.priorities.keys, input_html: { class: 'input-field' } %>
  <%= f.association :categories, collection: current_user.categories, input_html: { class: 'input-field', data: { controller: 'tom-select' } } %>
  <%= f.input :due_date, as: :datetime, html5: true, input_html: { class: 'input-field' } %>
  <%= f.association :users, collection: current_user.followeds.pluck(:user_name, :id), input_html: { class: 'input-field', data: { controller: 'tom-select' } } %>
  <div class='d-flex justify-content-center'>
    <%= f.submit 'Update Task', class:'btn btn-primary btn-save d-flex justify-content-center' %>
  </div>
<% end %>
