<p>Here someone can put the search bar</p>

<% @grouped_tasks.each_with_index do |tasks, index| %>

  <%= link_to dates_task_path(tasks[0]) do %>
    <h4><%= @dates[index] %></h4>
  <% end %>
  <div class='card'>
    <% tasks.each do |task| %>
      <span>
        <%= render 'toggle_completed', task: task %>

        <%= link_to task_path(task) do %>
          <%= task.title %>
        <% end %>

      <%= render 'priority_dot', task: task %>

      </span>
    <% end %>
  </div>
<% end %>
