<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="bg-white rounded p-3">

        <h2>TASK</h2>

        <hr>

        <% @category_names.each do |category| %>
          <span><%= category %></span>
        <% end %>

        <h3>
          <%=@task.title %>
          <% if @task.priority == "high" %>
            <span class='high-priority-color'><i class='fa-solid fa-circle'></i></span>
          <% elsif @task.priority == "medium" %>
            <span class='medium-priority-color'><i class='fa-solid fa-circle'></i></span>
          <% else %>
            <span class='low-priority-color'><i class='fa-solid fa-circle'></i></span>
          <% end %>
        </h3>

        <p>------------------------</p>

        <%=@task.description %>

        <p>------------------------</p>

        <% if @task.completed %>
          <%= link_to toggle_completed_task_path(@task), data: {turbo_method: :patch} do %>
            <span> <i class='fa-regular fa-circle-check'></i> Task completed </span>
          <% end %>
        <% else %>
          <%= link_to toggle_completed_task_path(@task), data: {turbo_method: :patch} do %>
            <span> <i class='fa-regular fa-circle'></i> Task completed </span>
          <% end %>
        <% end %>

        <p>------------------------</p>

        <%=@task.due_date.strftime('%a, %d %B, %I:%M %p') %>

        <p>------------------------</p>

        <span> Reminder:<br>
        <%=@task.reminder_date.strftime('%a, %d %B, %I:%M %p') %> </span>

        <hr>

        <p>
          <%= link_to 'javascript:history.back()', remote: true do %>
            <i class="fa fa-history"></i> Back to Task Lists
          <% end %>
        </p>

        <p>
          <%= link_to edit_task_path(@task) do %>
            <i class="fa fa-pencil"></i> Edit this task
          <% end %>
        </p>

      </div>
    </div>
  </div>
<div>
