<%# <div class="container">
  <div class="row">
    <div class="col-12 col-md-6"> %>
      <div class="bg-background-color rounded p-3">

        <h3>TASK</h3>

      <div>
        <% @task.categories.each do |category| %>
        <div class="d-flex justify-content-center">
          <span class="border rounded category"><%= category.name %></span>
        </div>
      <% end %>
      </div>
      <p>
      <div class="text-center">
        <h3>
          <%= render 'priority_dot', task: @task %>
          <%=@task.title %>
        </h3>
      </div>
     </p>

       <div class="search-showpage d-flex align-items-center showpage">
       <span>
         <%= render 'toggle_completed', task: @task %>
        <%= @task.description %>
        </span>
        </div>

      </div>
      <div class="search-show showpage">
       <p>
       <% if @task.due_date? %>
          <%=@task.due_date.strftime('%a, %d %B, %I:%M %p') %>
        <% end %>
     </p>
          <p>
          <% if @task.reminder_date? %>
          <span> Reminder:
          <%=@task.reminder_date.strftime('%a, %d %B, %I:%M %p') %> </span>
        <% end %>

           </p>
     <p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-reminder">Set reminder</button>
      </div>
      </div>
    </p>
        <hr>

        <p>
          <%= link_to 'javascript:history.back()', remote: true do %>
            <i class="fa fa-history"></i> Back to Task Lists
          <% end %>
        </p>

        <p>
        <%= link_to edit_task_path(@task) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
       </p>
        <p>
          <%= link_to task_path(@task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
       </p>
    <%# </div>
  </div>
<div> %>
