<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="bg-white rounded p-3">

        <h2>TASK</h2>

        <hr>

        <% @task.categories.each do |category| %>
          <span class="border rounded"><%= category.name %></span>
        <% end %>

        <h3>
          <%=@task.title %>
          <%= render 'priority_dot', task: @task %>
        </h3>

        <p>------------------------</p>

        <%=@task.description %>

        <p>------------------------</p>

        <%= render 'toggle_completed', task: @task %>

        <p>------------------------</p>

        <%=@task.due_date.strftime('%a, %d %B, %I:%M %p') %>

        <p>------------------------</p>

        <span> Reminder:<br>
        <%=@task.reminder_date.strftime('%a, %d %B, %I:%M %p') %> </span>

      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-reminder">Set reminder</button>
      </div>
        <hr>

        <p>
          <%= link_to 'javascript:history.back()', remote: true do %>
            <i class="fa fa-history"></i> Back to Task Lists
          <% end %>
        </p>

        <p>
        <%= link_to edit_task_path(@task) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
       </p>
    </div>
  </div>
<div>
