<div class='container'>

<p> Here we need the mascot </p>
<p> <%= @today %> </p>
<p> <%= @message %> </p>
<p> Isn't it a wonderful day to accomplish some more? </p>

<% @tasks.each do |task| %>
  <div class='card d-flex flex-row'>
    <div class='m-3'>
      <i class="fa-solid fa-briefcase"></i>
    </div>
    <div class='m-3'>
      <p><%= task.title %></p>
      <p>
        <% if task.due_date.hour < 12 %>
          <%= task.due_date.strftime("%H:%M") %>
          am
        <% else %>
          <%= (task.due_date - (12*60*60)).strftime("%H:%M") %>
          pm
        <% end %>
      </p>
      <p><%= task.description.split.first(4).join(' ') %> ...</p>
    </div>
    <div class='m-3'>
      <% if task.priority == 0 %>
        <p class='high-priority-color'><i class='fa-solid fa-circle'></i></p>
      <% elsif task.priority == 1 %>
        <p class='medium-priority-color'><i class='fa-solid fa-circle'></i></p>
      <% else %>
        <p class='low-priority-color'><i class='fa-solid fa-circle'></i></p>
      <% end %>
      <p>
        <% if task.completed %>
          <i class='fa-regular fa-circle-check'></i>
        <% else %>
          <i class='fa-regular fa-circle'></i>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<div class='text-end'>
  <%= link_to new_task_path do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
</div>

</div>
