<div class='d-flex flex-row justify-content-between'>
  <%# <div class='card d-flex flex-row'> %>
    <%= link_to feed_user_path, class: 'card' do %>
      Following
    <% end %>
    <%= link_to achievements_user_path, class: 'card' do %>
      Your Achievements
    <% end %>
  <%# </div> %>
  <%# <div class='card'>
    <i class="fa-regular fa-bell"></i>
  </div> %>
  <%= link_to connect_user_path(current_user), class: 'card' do %>
    <i class="fa-solid fa-user-plus"></i>
  <% end %>
  <div class='card' style='background-color: blue; color: white'><i class="fa-solid fa-user-slash"></i></div>
</div>

<% @following.each do |user| %>
  <%= form_with(model: follow, url: destroy_connection_user_path(current_user), method: :delete, class: 'card d-flex flex-row justify-content-around') do |form| %>
    <% if user.photo.attached? %>
      <%= cl_image_tag user.photo.key, class: "avatar" %>
    <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <% end %>
    <%= user.user_name %>
    <%= form.hidden_field :followed_id, value: user.id %>
    <%= form.submit "Disconnect", class: "btn-reminder" %>
  <% end %>
<% end %>
