
<nav class="navbar fixed-top navbar navbar-dark bg-secondary d-flex justify-content-between">
  <div>
    <li>
      <%= link_to todays_tasks_path do %>
        <%= image_tag "todocoach.png", class: "avatar" %>
      <% end %>
    </li>
  </div>
  <div>
    <li>
      <% if user_signed_in? && current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }%>
      <% else %>
        <%= link_to new_user_session_path do%>
          <%= image_tag "image.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }%>
        <% end %>
      <% end %>
    </li>
  </div>
</nav>
